/* background-image: linear-gradient(45deg, #F9D364 0%, #CE9200 100%); */

:root {
  --yellow: #F9D364;
  --blue: #647FFA;
  --brow: #BAAA79;
  --gray: #7981A5;
  --gray2: #7A776E;
  --black: #3B3E50;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #000;
  color: #fff;
}

.hero {
  background-image: url('./casal.jpg');
  background-position: right center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
}

.cta {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 48px;
}

.logo {
  height: 120px;
  width: 260px;
  padding-left: 48px;
  padding-top: 48px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 64px;
}

h1 span {
  color: var(--yellow);
}

p {
  font-size: 1.2rem;
  margin-bottom: 64px;
  color: #d3d3d3
}

.cta-button {
  background: linear-gradient(159.76deg, #FFDA79 -2%, #F9D885 14.14%, #DDB346 32.58%, #F2C85A 51.95%, #E6B434 67.16%, #FFB800 86.53%);
  color: #000;
  padding: 14px 86px 14px 86px;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  transition: background-color 0.3s ease;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-align: center;
  color: var(--yellow);
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cards {
  flex: 1;
  margin-right: 20px;
}

.card {
  background-color: #333;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card h2 {
  margin-top: 0;
  color: var(--yellow);
}

ul {
  list-style: none;
  margin-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/*---------------------------------------------------*/

.oportunidade {
  color: #fff;
}

.oportunidade h1 {
  text-align: center;
  color: var(--yellow);
  margin-bottom: 46px;
  padding: 5px;
}

.content {
  width: 100%;
  height: 70vh;
  padding: 20px;
  background-image: url('./images/casal-2.jpg');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

.oportunidade ul {
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: -30%;
}

/*--------------------------------------------------------*/

.quem-deve {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.quem-deve h1 {
  text-align: center;
  color: var(--yellow);
  margin-bottom: 46px;
}

.quem-deve p {
  text-align: center;
}

.quem-deve .cards-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.quem-deve .card {
  flex: 1;
  min-width: 45%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

/*----------------------------------------------------*/

.detalhes {
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.6;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.detalhes .card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  max-width: 600px;
  width: 100%;
  backdrop-filter: blur(8px);
  text-align: center;
}

.detalhes h1 {
  text-align: center;
  color: var(--yellow);
  margin-bottom: 46px;
}

.detalhes .details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.detalhes .detail-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1em;
}

.detalhes .detail-item i {
  font-size: 1.5em;
  color: #ffcc00;
}

.detalhes .detail-item span {
  color: #fff;
}

.detalhes a {
  text-decoration: none;
  color: #ffcc00;
  font-weight: 700;
}

.detalhes .preco {
  font-size: 1.6rem;
  font-weight: 700;
}

.chamada-acao {
  height: 50vh;
}

.chamada-acao h1 {
  text-align: center;
  color: var(--yellow);
  margin-bottom: 46px;
}

.chamada-acao p {
  text-align: center;
}

footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  padding: 20px;
}

/* Extra pequeno (smartphones em modo retrato, menos de 576px) */
@media (max-width: 575.98px) {
  .logo {
    height: 100px;
    width: 220px;
    padding-left: 48px;
    padding-top: 48px;
  }

  h1 {
    font-size: 1.2rem;
  }

  .cta p {
    display: none;
  }

  .cta {
    max-width: 400px;
    padding: 8px 18px;
    margin-top: 50%;
  }

  .cta-button {
    padding: 14px 86px 14px 86px;
    font-size: 0.8rem;
  }

  .card h2 {
    font-size: 1.1rem;
  }

  .oportunidade ul {
    padding: 5px;
    border-radius: 8px;
    font-size: 1rem;
  }

  .quem-deve .cards-wrapper {
    flex-direction: column;
  }

  p {
    font-size: .8rem;
  }

}

/* Pequeno (smartphones em modo paisagem, 576px até 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .logo {
    height: 100px;
    width: 220px;
    padding-left: 48px;
    padding-top: 48px;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .cta {
    max-width: 400px;
    padding: 8px 18px;
  }

  .cta-button {
    padding: 14px 86px 14px 86px;
    font-size: 0.8rem;
  }
}

/* Médio (tablets, 768px até 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }

  .cta {
    max-width: 600px;
    padding: 8px 28px;
  }


}